{{#each error4}}
<div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
{{/each}}

<div class="flexbox" style="display:flex;">
    <div class="colside"></div>

    <div class="column middle register">
        {{!-- <div>{{successMessage}}</div> --}}
        <form name="register" method="POST" action="/customer-registration">
            <div class="cust-box">
                <h style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Create account</h>
                <hr>

                <label for="fullName"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" id="fullName" name="fullName"> <br>

                {{#each errorName}}
                <div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
                {{/each}}

                <label for="email"> <b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email">

                {{#each errorEmail}}
                <div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
                {{/each}}

                <label for="psw"> <b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw">

                {{#each errorPws}}
                <div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
                {{/each}}

                <p class="pwInform"> <i class="fas fa-exclamation" style="font-size:10px; color:red;"></i> Password must
                    consists of at least 6 characters</p><br>

                {{#each errorRe}}
                <div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
                {{/each}}

                {{#each errorLen}}
                <div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
                {{/each}}

                <label for="pswrepeat"> <b>Password again</b></label>
                <input type="password" placeholder="Repeat Password" name="pswrepeat">
                
                {{#each errorRe}}
                <div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
                {{/each}}

                {{#each errorLen}}
                <div class="valid"><i class="fas fa-exclamation" style="font-size:10px; color:red;"></i>{{this}}</div>
                {{/each}}
                

                <hr>
                <p style="text-align: center; font-size:15px;">By creating an account you agree to our <a
                        href="https://policies.google.com/">Terms & Privacy</a>.</p>

                <button type="submit" class="registerbtn">Register</button>
            </div>

            <div class="container signin">
                <p>Already have an account? <a style="dodgerblue" href="/login">Sign in</a>.</p>
            </div>
        </form>
    </div>

    <div class="colside"></div>
</div>

<script>

</script>